<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAykUKG9zSWFiMIC7ke_mAf7HFnkBJpbk</string>
	<key>GCM_SENDER_ID</key>
	<string>1065249041059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasFlutter</string>
	<key>PROJECT_ID</key>
	<string>uas-flutter-86c12</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-flutter-86c12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065249041059:ios:eefb3f3727da0150a0ed16</string>
</dict>
</plist>